<os-head-bar
    [hasMainButton]="canManage()"
    [editMode]="isEditing"
    [mainButtonIcon]="'edit'"
    [isSaveButtonEnabled]="startForm.valid"
    (mainEvent)="editStartPage()"
    (saveEvent)="saveChanges()"
    (cancelEditEvent)="isEditing = !isEditing"
>
    <div class="title-slot">
        <h2>{{ 'Home' | translate }}</h2>
    </div>
</os-head-bar>

<mat-card [ngClass]="isEditing ? 'os-form-card' : 'os-card'">
    <ng-container *ngIf="!isEditing">
        <div class="app-content">
            <h1>{{ startContent.general_event_welcome_title | translate }}</h1>

            <div [innerHTML]="startContent.general_event_welcome_text | trust: 'html'"></div>
        </div>
    </ng-container>

    <ng-container *ngIf="isEditing">
        <form [formGroup]="startForm">
            <mat-form-field>
                <input
                    matInput
                    formControlName="general_event_welcome_title"
                    required
                    placeholder="{{ 'Front page title' | translate }}"
                />
                <mat-error>{{ 'The title is required' | translate }}</mat-error>
            </mat-form-field>
            <editor formControlName="general_event_welcome_text" [init]="tinyMceSettings"></editor>
        </form>
    </ng-container>
</mat-card>
<!-- lm: Stimmungskarten & GO-Antrag -->
<mat-card [ngClass]="'os-card'" style="overflow: auto;">
    <ng-container>
        <div class="app-content" style="margin-left: 10px; margin-right:10px;">
            <div class="title-slot">
                <h2 style="margin-bottom: 5px;">Interaktion</h2>
            </div>
            
            <h3>GO-Antrag</h3>
            <button (click)="goAntrag()" class="goBtn">
                <mat-icon style="vertical-align: middle;">accessibility_new</mat-icon>
                GO Antrag stellen</button>
            <div class="alert" *ngIf="isAntragSend">
                <span>Dein GO-Antrag wurde gesendet!</span>
            </div>


            <h3>Stimmungskarten</h3>
            <p></p>
            <div class="st-karten">
                <!--<a href="#" (click)="hebeKarte(1)">
                    <div class="st-karte st-gruen">OK</div>
                </a>-->
                <div class="alert" *ngIf="isLocked">
                    <span>Stimmungskarten können nur alle 60 Sekunden gehoben werden - bitte warte kurz</span>
                </div>

                <div *ngIf="!isLocked" (click)="hebeKarte(1)" class="st-karte st-gruen">OK</div>

                <div *ngIf="!isLocked" (click)="hebeKarte(2)" class="st-karte st-gelb">???</div>

                <div *ngIf="!isLocked" (click)="hebeKarte(3)" class="st-karte st-rot">Nee</div>   
            </div>
        </div>
    </ng-container>
</mat-card>
